<!DOCTYPE html>
<html>
<head>
	<title> Angular Js Filters </title>
	<script type="text/javascript" src="../js/angular.min.js" ></script> 
</head>
<body  ng-app="" >   

	<p ng-init="myName='Guru'; no=5" >
		
		without filter <h2>{{myName}}</h2>
		with lowercase filter<h2>{{myName|uppercase}}</h2>
		with currency filter {{no}} is <h2>{{no|currency}}</h2>
		with currency filter Rs. {{no}} is <h2>{{no | currency: 'Rs. '}}</h2>
	
	</p>

</body>
</html>




<!-- Notes 

used for applying certain transformation to the data before it is shown in the UI.
	currency
	filter
	lowercase
	uppercase
	orderby
	
	
-->