<!DOCTYPE html>
<html>
<head>
	<title> Angular Js Sorting using filters</title>
	<script src="../js/angular.min.js" ></script> 
	<script src="../js/EmployeeController.js"></script>
</head>
<body  ng-app="" ng-controller="EmployeeController">

	<h2> List sorted by employee name </h2>
	<h4 ng-repeat="emp in employeeList | orderBy:'name'">
		{{emp.name}} in {{emp.location}}
	</h4>   
	
	<h2> List sorted by the employee location</h2>
	<h4 ng-repeat="emp in employeeList | orderBy:'location'">
		{{emp.name}} is at  {{emp.location}} 
	</h4>

	
</body>

</html>




<!-- Notes 
create external controller file employee controller
	
-->