<!DOCTYPE html>
<html>
<head>
	<title> Angular Js Filtering and sorting together </title>
	<script type="text/javascript" src="../js/angular.min.js" ></script> 
	<script src="../js/EmployeeController.js"></script>
</head>
<body ng-app="" ng-controller="EmployeeController">   
	Enter the name : <input type="text" ng-model="nameKey" />
	
	<h4 ng-repeat="emp in employeeList | filter:nameKey | orderBy:'name'">
		{{emp.name}} in  {{emp.location}}
	</h4>
	
	
	<hr>
	Enter the name (searches inside name only/location is excluded): <input type="text" ng-model="nameKey2" />
	<h4 ng-repeat="emp in employeeList | filter:{name:nameKey2} ">
		{{emp.name}} in  {{emp.location}}
	</h4>
	
	
	

</body>
</html>




<!-- Notes 
	filter the names in the arraylist by the name that is being typed in the text box
	The above filter applies for all the properties inside the object
	Custom filter is required if the filter needs to be restricted to only name or location.
-->