<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../js/script.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<title>Style with AngularJS</title>

<style type="text/css">
	.s1{
		background:red;
		border: 1px solid black;
		padding : 5px;	
	}


</style>


</head>
<body ng-app="">
	
	
	
	<br>
	Show if clicked.
	<input type="checkbox" ng-model="checked" ng-init="checked=false" /> 
	<!-- value is initially set to true -->
	<br><br>
	<p ng-if="checked" class="s1"  >
			Hide or show
	
	</p>	
	
</body>



<script type="text/javascript">



</script>

</html>




