<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../js/script.js"></script>
<script type="text/javascript" src="../js/angular.min.js" ></script> 
<title>Insert title here</title>
</head>
<body >   
<div ng-app="">
	
	name : <input type="text" ng-model="myName">
	<br>
	<h1 style="color:red" ng-bind="myName"> </h1>
	
	<h2 style="color:green;" ng-bind="myName"></h2>
	<h3 style="color:blue ;" ng-bind="myName"></h3>
	<h4 style="color:yellow;" ng-bind="myName"></h4>
	
</div>

<hr>


</body>
</html>


<!--  

ng-app
======
defines who owns the application.
-body is the owner of the angular application. 
Scope of the angular funcationalities are limited within the body.
Can be attached to the any tag. but end of the tag is the end of the scope. 

ng-model="myName"
================
model means data. 
myName is like a variable name. Whatever data typed in in the text feild is 
available in this model.

ng-bind="myName"
===============
any ng-model can be binded to any of the html tags/view
h1 is the view since it is a viewable tag.
model is set to the view here.




-->


