<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../js/angular.min.js" ></script> 
<title>Insert title here</title>
</head>
<body ng-app="">


<div ng-init="myCity='Banglore';myName='TestName';myAge=50">
	Enter your name : <input type="text" ng-model="myName" >
	Enter your city : <input type="text" ng-model="myCity" >
	Enter your Age : <input type="number" ng-model="myAge" > 
	
	<hr>
	<b>{{myName}} </b>/ {{myAge}}  lives in <b>{{myCity}}</b>
	<hr>
	example of the string concatenation : {{"Mr." + myName}}
	
	
</div>
</body>
</html>