<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../js/angular.min.js" ></script> 
<title>Insert title here</title>
</head>
<body ng-app=""  ng-init="person={name:'TestName', city:'TestCity', age:20}">
<h4 ng-bind="person.name + 'lives in ' + person.city"></h1>
<hr>

{{person.name + "lives in "+ person.city}} 
</body>
</html>