<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../js/angular.min.js"></script>
<title>Title</title>
</head>
<body ng-app="">

<div ng-init="cities=['Cochin', 'Banglore', 'Delhi', 'Mumbai']" >


<input type="number" ng-model="index">

<!-- using the bind -->
	<p>
		the second city is <span ng-bind="cities[index]" ></span>
	</p>

<hr>
<!-- using the expression -->
The second city is {{cities[index]}}


<hr>
<!-- simple matematical expression -->
{{2+2}}


</div>
</body>
</html>