<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../js/angular.min.js"></script>
<title>Insert title here</title>
</head>
<body 
	ng-app=""
	ng-init="names=['person1','person2', 'person3', 'person4']">

	<div ng-repeat="x in names">
		<h3> Hello {{ x }} </h3>
	</div>
	
</body>
</html>