<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../js/angular.min.js"></script>
</head>
<body ng-app=""
	ng-init="namesArray=[
				{name : 'userABC', city : 'cityABC' },
				{name : 'userXYZ', city : 'cityXYZ' },
				{name : 'userLMN', city : 'cityLMN' }
			  ]" >
			  
<div ng-repeat="x in namesArray">

	<h2> {{x.name}} lives in {{x.city}}</h2>

</div>				  
			  
			  
<table border='1'>
	<tr>
		<th>name</th>
		<th>city</th>
	</tr>
	
	<tr ng-repeat="x in namesArray">
		<td> {{x.name}} </td>
		<td> {{x.city}} </td>
	</tr>
</table>




</body>
</html>