<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../js/angular.min.js"></script>
</head>

<body ng-app="" >
	Enter the company details : <input type="text" ng-model="company">

	<h2 ng-if="company=='abc'"> matching</h2>
	<h2 ng-if="company!='abc'"> not matching</h2>

</body>
</html>