<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../js/angular.min.js"></script>
</head>

<body ng-app="" >
	Enter the company details : <input type="number" ng-model="no">
	
	<h1 ng-switch="no">
		<span ng-switch-when=1> Number is one</span>
		<span ng-switch-when=2> Number is two</span>
		<span ng-switch-when=3> Number is three</span>
		<span ng-switch-when=4> Number is four</span>
		<span ng-switch-default> Invalid Number </span>
	
	</h1>

	

</body>
</html>