<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../js/script.js"></script>
<script type="text/javascript" src="../js/angular.min.js" ></script> 
<title>Insert title here</title>
</head>
<body >   
<div ng-app="" ng-init="noModel=0">

	Enter number <input type="number" id="numId"  ng-model="noModel"/>
	<br>
	
	<input type="button" id="but" value="click"/>
	
	
	
	
</div>
</body>
<script type="text/javascript">


	document.getElementById("but").onclick = function(){
		var x=document.getElementById("numId").value;
		
		if(x%2 == 0){
			alert("number is even!");
		}else{
			alert("Nubmer is odd!")
		}
		
	}
	

</script>

</html>




