<!DOCTYPE html>
<html>
<head>
	<title> first angular js controller </title>
	<script type="text/javascript" src="../js/angular.min.js" ></script> 
</head>
<body  ng-app="" >   

	<div ng-controller="TestControllerOne">
		<!-- ng-controller is local to this div only -->
		In Div1 - {{name}} lives in {{location}} whose age is {{age}}		
		
	</div>
	
	<hr>
	<div ng-controller="TestControllerTwo">
		In Div2  - {{name}} lives in {{location}} whose age is {{age}}		
	</div>
	
</body>

<script type="text/javascript">

	function TestControllerOne($scope){
		$scope.name='testName-Arun';
		$scope.location='testLocation-Kochi';
		$scope.age=20;
	}
	
	function TestControllerTwo($scope){
		$scope.name="Testname=-XYZ";
		$scope.location = "TestLocation-XYZ";
		$scope.age = 30;
	}


</script>

</html>




<!-- Notes 


No getters and setters in the angular mvc
Controller - controls the activity- contains the business logic - is a simple javascript constructor function
	Controller is the place where additional logic needs to be plugged
	Controller can call other components

Controller takes request from the HTML with AngularJS process the request and data and
return the processed data back to the HTML with AngularJS


1. user sends the data by passing the request to the controller
2. Controller reads the data sent by the user.
3. Controller manipulates/process the data
3. Contoller sends processed data back to the user.
	If required controller can call the other components (collection of statements/ logic written in service)
	an AngularJS service can be invoked from the controller(Service is injected to the controller as in Spring) -  dependency injection
	
Controller can initialize some data like a constructor function.
Can attach a controller to any DOM, and the DOM need not be the body tag always.
angular js will instantiate a 

	
	
 
ng-controller is the directive  used to write custom controllers








-->