<!DOCTYPE html>
<html>
<head>
	<title> Nested Controllers </title>
	<script type="text/javascript" src="../js/angular.min.js" ></script> 
</head>
<body  ng-app="" >


	<div ng-controller="TestControllerParent" >   
		In parent- body tag, {{name}} lives in {{location}}
	
		<p ng-controller="TestControllerChild"> 
			In the child- paragraph tag, {{name}} lives in {{location}}
			
		</p>
	</div>	
	
</body>

<script type="text/javascript">

	function TestControllerParent($scope){
		$scope.name='testName-Arun';
		$scope.location='Bangalore';
		
	}
	
	function TestControllerChild($scope){
		$scope.name="Testname=-XYZ";
		
	}


</script>

</html>

<!-- Child controller is called the nested controller 

Eventhough the location is not defined inside the child controller the value - Banglore will alsow
shown in the child controllers since it is capable of inheriting from the parent.


$scope is always local to the controller





-->