<!DOCTYPE html>
<html>
<head>
	<title> Functions withing the controller </title>
	<script type="text/javascript" src="../js/angular.min.js" ></script> 
</head>
<body  ng-app=""  ng-controller="ProductController">

	<h1 ng-bind="productName"></h1>
	<h2 ng-bind="netPrice();"> </h2>
	
	Product Price is : {{productPrice}}
	<br>
	Product Discount is : {{discount();}}
	<br>
	Net Product Price is : {{netPrice();}}  <!-- Calling the angular controller methods -->	
	
	
	
	
</body>

<script type="text/javascript">

	function ProductController($scope){
		$scope.productName='Microsoft Lumia';
		$scope.productPrice=20000;
		
		
		// defining the angular controller methodes
		$scope.discount = function(){
			$scope.dis = $scope.productPrice * (10/100);
			return $scope.dis;
		}
		
		$scope.netPrice = function(){
			$scope.net =  $scope.productPrice - $scope.dis;
			return $scope.net;
		}
	}
	


</script>

</html>


<!-- 
Every view have the scope object 


-->




