<!DOCTYPE html>
<html>
<head>
	<title>Insert title here</title>
	<script src="../js/angular.min.js"></script>
	<script src="../js/angular.min.js"></script>
	
	<style type="text/css">
		.loginForm{
		
			margin: 100px;
			
		}
	
	</style>
	
	
</head>
<body ng-app="">

	<div class="loginForm">
	
		<form novalidate>
			Username : <input type="text" ng-model=""  required/> 
			<br><br>
			Password: <input type="password" ng-model="" required />
			<br><br>
			
			
			Number: <input type="number" ng-model="" required />  Try giving some string value or empty here!
			<br><br>
			
			<input type="submit" value="login" />
		</form>
	</div>
	
</body>

<script>
	// javascript code goes here
</script>

</html>


<!-- notes

	required
		- form feild attribute "required" is added on HTML5  for basic empty check and all
		- if custom validation is required, then additional javascript coding is +required.
		
		
	form novalidate
		- novalidate will disable the html5 validation done by the browser.
		

 -->