<!DOCTYPE html>
<html>
<head>
	<title> Angular Js Modules demonstration </title>
	<script type="text/javascript" src="../js/angular.min.js" ></script> 
</head>
<body ng-app="MyApp" >   
	
	
	<!-- div is using the ng-App as "MyApp" and its controller defined inside this application-->
	<div  ng-controller="MyAppController">
		{{location}} -  {{myFunction();}}
		<!-- {{location}} is limited to MyApp or whoever extending the myApp -->
	
	</div>
	
	<!-- define another div with another app or another controller -->
	<div ng-controller="MyAppControllerSecond">
	
		{{location}} - {{myFunction();}}
	</div>
	
</body>

<script type="text/javascript">

	//Only one bootstrap for one page.
	var app = angular.module("MyApp", []);
	
	//Defining the first controller for MyApp
	app.controller("MyAppController", function($scope){
		$scope.location = "Cochin";
		
		$scope.myFunction= function(){
			return "I am statying here!";
				
		};
	});
	
	
	//Defining the second controller for MyApp
	app.controller("MyAppControllerSecond", function($scope){
		$scope.location = "Banglore";
		$scope.myFunction = function(){
			return "I was here once!"
		};
		
	});
	
	
</script>

</html>


<!-- 
	something similar to an application
	One module/application can contain multiple controllers, filters, services and filters and directives.
	Organize logic into the modules and use dependency injection to wire it all together
	Object A depends on Object B then, injecting object B in to the Object A is called Dependency Injection.
	
	
	In angular inject the services into the controllers.
	
	
	service1 - DB
	service2 - Business Logic
	Inject service1 and service2 to the Controller1.

	Open close principal
		- Software should be open for extension but the software should be closed for modification.
		
		
	Valid Angular module syntaxes.
	------------------------------
	var app = Angular.module('A', ['B'])  - module is A and the B is a dependency.
	var app = Angular.module('A', [])  - module is A and there is no dependency
	var app = Angular.module('A')  - Angular will assume that A is already created and will return the reference. 
									 If A is not defined previously it will give error.
	
	second argument is mandatory for creating the a new module.
	
	
	
	Create controller inside the module
	------------------------------------
	
	var myApp =  Angular.module('MyApp',  ['$scope', '$http', function(){
		//logic
	}]);
	
	myApp.controller("MyAppController", function($scope){
		$scope.location =  "define some sstring here";
		$scope.myFunction = function(){
			return "return some content here to the caller.";
		};
	})
	
	
	
	Question : Is it possible that two different divs can load two different modules.
 -->