<!DOCTYPE html>
<html>
<head>
	<title> Angular Js Modules Obfuscation and minification </title>
	<script type="text/javascript" src="../js/angular.min.js" ></script> 
</head>
<body ng-app="MyApp" >   
	
	<!-- div is using the ng-App as "MyApp" and its controller defined inside this application-->
	<div  ng-controller="MyAppController">
		{{location}} -  {{myFunction();}}
		<!-- {{location}} is limited to MyApp or whoever extending the myApp -->
	
	</div>
	
	<!-- define another div with another app or another controller -->
	<div ng-controller="MyAppControllerSecond">
	
		{{location}} - {{myFunction();}}
	</div>
	
</body>

<script type="text/javascript">

	//1. Only one bootstrap for one page.
	var app = angular.module("MyApp", []);
	
	//2. Defining the first controller for MyApp -  unsafe way.
	// Avoid using this unsafe coding practise.
	app.controller("MyAppController", function($scope){
		$scope.location = "Cochin";
		$scope.myFunction= function(){
			return "I am statying here!";
		};
	});
	
	
	/* 3. Defining the third controller -  added the square bracket  - is the safest way !
		concept - code obfuscation & code minification
		Code minification tool will assume the '$scope' inside the equote as a value. so it will not
		touch this stuff.
		
		When the minification is applied the minified tool will assume that the 
		$scope = $s . and angular js engine will not fail.
		
		-- Better to define the predefined service names as a qouoted text in the array.
		function arguments are minified, but the string literals wont get minified, since the tool will assume that 
		it is a valid data.
		*/
	app.controller("MyAppControllerSecond", ['$scope', function($s){
		$s.location = "Banglore";
		$s.myFunction = function(){
			return "I was here once!"
		};
	}]);
	
	
	
	/* 
	code obfuscator  - this tool will encode the content of the code.
	Compiled code is a  form of obfuscation.
	ex- java decompiler will take the .class file and convert the code into the .java file ie the source code.
	
	
	Before rolling out the code to the client, they will mask(obfuscate ) the .class file.
	Even if the client uses any decompiler tool, they will not be able to view the code./
	
	
	
	
	
	*/
	
	
	
	
	

</script>

</html>


<!-- 
	
 -->
 
 
 